@media screen and (max-width: 1385px) {
  .declaration_row .decl_img .flex_btn .blue_button45 {
    padding: 14px 25px;
  }
}
@media screen and (max-width: 1340px) {
  .meest_corp_wrap {
    width: 80%;
  }
  .parcel_shipment_form {
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: unset;
    row-gap: 5px;
  }
  .parcel_shipment_label {
    width: 20%;
  }
  .parcel_shipment_label input {
    width: 100%;
  }
  .parcel_shipment_form.invoices .parcel_shipment_label input {
    min-width: unset;
    width: 100%;
    max-width: 100%;
  }
  .parcel_shipment_form.invoices .parcel_shipment_label input.zone {
    width: 100%;
  }
}
@media screen and (max-width: 1248px) {
  .declaration_row .decl_img .flex_btn .blue_button45 {
    padding: 14px 20px;
    font-size: 14px;
  }
  .s_register_page .w40 {
    width: 50%;
  }
  .s_register_page .w60 {
    width: calc(50% - 50px);
    margin-left: 50px;
  }
  .form-row .input {
    padding: 13px 15px 13px;
  }
  .divide::after {
    width: 75%;
  }
  .payment_method-object {
    width: calc(40% - 20px);
  }
  .header_bottom .menu .menu-item a {
    font-size: 12px;
  }
  .header_bottom .menu .menu-item a svg {
    margin-right: 3px;
    width: 15px;
    height: 15px;
  }
  .declaration_form {
    width: 80%;
  }
  .form_parcel_details .form-flex.del-details .parcel-weight {
    margin-right: 10px;
  }
}
@media screen and (max-width: 1150px) {
  .form-flex-wrap.billing_address .right .im_robot {
    width: 270px;
  }
  .popup_add_message {
    width: 80%;
  }
  .divide::after {
    width: 70%;
  }
  .divide.small-line::after {
    width: 80%;
  }
  .payment_method-flex {
    flex-flow: row;
    flex-wrap: wrap;
  }
  .payment_method-object {
    width: calc(50% - 20px);
  }
  .first_block p {
    font-size: 11px;
  }
  .first_block p a {
    font-size: 11px;
  }
  .first_block a {
    font-size: 11px;
  }
  .footer_top_inner .need_help_row {
    padding: 22px 42px;
  }
  .declaration_row .decl_img .flex_btn .blue_button45 {
    padding: 14px 18px;
    font-size: 13px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 1080px) {
  .declaration_form {
    width: 90%;
  }
}
@media screen and (max-width: 991px) {
  .add-new-item.mobile {
    display: flex;
  }
  .form_parcel_details .form-flex-wrap {
    margin-bottom: 0;
  }
  .form_parcel_details .form-flex.del-details .parcel-weight {
    margin-right: 0px;
  }
  .s_register_page {
    display: block;
  }
  .s_register_page .w40 {
    width: 100%;
  }
  .s_register_page .w60 {
    width: 100%;
    margin-left: 0;
  }
  .s_register_page .w60 .register_now_text {
    margin-top: 30px;
    width: 100%;
  }
  .s_register_page .w60 .register_now_text p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .s_register_page .login-form-valid .container-form {
    padding: 30px 15px 30px;
  }
  .login-form .heading {
    margin-bottom: 20px;
  }
  .login_page_new .logo.north_america {
    width: 230px;
    height: 30px;
    margin: 20px 0;
  }
  .create_account {
    padding: 15px 0 80px;
  }
  .create_account .accordion-wrap-flex {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .create_account .accordion-wrap-flex .left-part {
    display: none;
  }
  .create_account .accordion-wrap {
    width: 100%;
    margin-right: 0;
  }
  .create_account .logo {
    width: 230px;
    height: 30px;
    display: block;
  }
  .h2 {
    font-size: 14px;
  }
  .number-bcg {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  .number-bcg p {
    font-size: 16px;
  }
  .section-name {
    padding: 14px 15px;
  }
  .form-flex-wrap .form-flex {
    display: block;
  }
  .form-flex-wrap .form-flex:last-of-type .form-row {
    margin-bottom: 20px;
  }
  .form-flex-wrap .form-flex .form-columns2 .form-row {
    margin-bottom: 0;
  }
  .form-flex-wrap .form-flex .form-row {
    width: 100%;
  }
  .form-flex-wrap .form-flex .form-row:first-of-type {
    margin-right: 0;
  }
  .form-flex-wrap .form-flex .form-row .language_preference {
    width: 100%;
  }
  .section-sub-menu {
    padding: 20px 15px 30px;
  }
  .form_for_flex_column2 .form-columns2 {
    margin-bottom: 20px;
  }
  .form_for_flex_column2 .form-columns2:last-of-type {
    margin-bottom: 0;
  }
  .form_for_flex_column2 .form-columns2:last-of-type .form-row {
    margin-bottom: 0;
  }
  .form_for_flex_column2 .form-flex .form-columns2 {
    width: 100%;
  }
  .form_for_flex_column2 .form-flex .form-columns2.d_block {
    display: block;
  }
  .form_for_flex_column2 .form-flex .form-columns2.d_block .form-row {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .custom_chekbox.checkbox_row p {
    font-size: 12px;
    line-height: 15px;
  }
  .custom_chekbox .checkmark {
    height: 25px;
    width: 25px;
    top: -2px;
  }
  .custom_chekbox .text {
    font-size: 12px;
    line-height: 20px;
  }
  .form-flex-wrap.billing_address {
    display: block;
  }
  .form-flex-wrap.billing_address .left {
    width: 100%;
    margin-right: 0;
  }
  .form-flex-wrap.billing_address .right {
    width: 100%;
  }
  .form-flex-wrap.billing_address .right .im_robot {
    margin-bottom: 20px;
  }
  .agree_wrap {
    margin-bottom: 20px;
  }
  .agree_wrap p {
    font-size: 10px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .edit-but .edit {
    width: 22px;
    height: 22px;
  }
  .meest_corp_wrap {
    width: 100%;
    padding: 40px 0;
  }
  .meest_corp_wrap h1 {
    font-size: 20px;
    line-height: 135%;
    margin-bottom: 27px;
  }
  .meest_corp_wrap .grid_card {
    flex-flow: row;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .meest_corp_wrap .grid_card .card_white {
    width: calc(50% - 5px);
    margin-right: 0;
    padding: 30px 50px;
  }
  .meest_corp_wrap .grid_card .card_white:nth-child(odd) {
    margin-right: 10px;
  }
  .section_index1::after {
    display: none;
  }
  .section_index2 .section_index2_inner {
    padding: 30px 15px;
    width: 100%;
    margin: unset;
  }
  .section_index2 .section_index2_inner p {
    font-size: 13px;
    line-height: 20px;
  }
  .accordion_body {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .accordion_body .heading_accordion_body {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .accordion_body .name_sec {
    padding: 17px 15px;
  }
  .accordion_body .name_sec span {
    font-size: 13px;
  }
  .accordion_body .name_sec svg {
    width: 13px;
    height: 8px;
  }
  .accordion_body .content {
    padding: 20px 15px 30px;
  }
  .accordion_body .content p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .accordion_body .content ul li {
    font-size: 13px;
    line-height: 20px;
  }
  .section_index3 {
    padding: 40px 0;
  }
  td {
    font-size: 13px;
  }
  .table-order-history {
    display: none;
  }
  .mobile-order-history {
    display: block;
  }
  .pagination_wrap {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .order-history {
    padding: 0 0 30px 0;
  }
  .declaration_flex {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px 0 20px;
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .declaration_row .name_declaration {
    padding: 8px 10px;
  }
  .declaration_row .name_declaration span {
    font-size: 14px;
  }
  .declaration_row .decl_img:hover:after {
    display: none;
  }
  .declaration_row .decl_img:hover .flex_btn {
    display: inline-flex;
  }
  .declaration_row .decl_img .flex_btn {
    position: static;
    left: 0;
    bottom: unset;
    display: inline-flex;
    z-index: 2;
    top: 100%;
    background: #fff;
    width: 100%;
    padding: 13px 15px;
  }
  .declaration_row .decl_img .flex_btn .blue_button45 {
    background: transparent;
    border-radius: unset;
    padding: unset;
    border: unset;
    font-size: 13px;
    line-height: 109%;
    letter-spacing: 0.02em;
    color: #2361A9;
    height: auto;
    margin-right: 20px;
  }
  .form_parcel_details .form-flex.del-details {
    display: block;
  }
  .form_parcel_details .form-flex.del-details .w25.parcel-weight {
    margin-bottom: 20px;
  }
  .form_parcel_details .form-flex.del-details .flex-columns3 {
    width: 100%;
    column-gap: 13px;
  }
  .bottom_part_form {
    display: block;
  }
  .bottom_part_form .text {
    margin-bottom: 20px;
  }
  .bottom_part_form .end_mobile {
    display: flex;
    justify-content: flex-end;
  }
  .additional-information {
    margin-bottom: 20px;
  }
  .new-parcel-page {
    padding: 20px 0 40px;
  }
  .delivery-price {
    display: none;
  }
  .accordion-wrap {
    width: 100%;
    margin-right: 0;
  }
  .accordion-wrap-flex {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .accordion-wrap-flex .left-part {
    display: none;
  }
  .declaration_wrap.new_parcel {
    padding: 35px 0 20px;
    background: #fff;
    border-bottom: 1px solid #D8E0EB;
    border-top: 1px solid #D8E0EB;
  }
  .declaration_wrap.new_parcel .declaration_wrap_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .declaration_wrap.new_parcel .declaration_wrap_inner h3 {
    font-size: 22px;
    color: #2361A9;
  }
  .change_password {
    font-weight: 700;
    font-size: 13px;
    line-height: 109%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2361A9;
    text-align: right;
    margin-left: 20px;
    text-decoration: none;
    display: block;
  }
  .history_wrap {
    padding: 21px 0 17px;
  }
  .history_wrap_inner {
    display: none;
  }
  .history_wrap_inner_mobile {
    display: block;
  }
  .history_wrap_inner_mobile .link {
    font-weight: 700;
    font-size: 13px;
    line-height: 109%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2361A9;
    text-decoration: none;
    margin-bottom: 20px;
  }
  .history_wrap_inner_mobile .history_wrap_heading {
    margin-bottom: 0;
  }
  .flex_end {
    display: flex;
    justify-content: flex-end;
  }
  .gumb {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/gumb.svg);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
  .gumb.active {
    background-image: url(../img/close_gumb.svg);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
  }
  .personal_account_wrap {
    display: none;
  }
  header {
    background: #fff;
  }
  header .logo.north_america {
    width: 230px;
    height: 28px;
  }
  header .header_top {
    background-color: #fff;
    padding-bottom: 20px;
  }
  .header_bottom {
    display: none;
    width: calc(100% + 30px);
    margin-left: -15px;
    position: absolute;
    width: 100%;
    height: calc(100vh - 68px);
    z-index: 10;
    top: 100%;
    background-color: #fff;
  }
  .header_bottom .menu {
    display: block;
    padding-bottom: 0px;
    background: #fff;
  }
  .header_bottom .menu .menu-item {
    padding: 18px 15px;
    border-bottom: 1px solid #D8E0EB;
  }
  .header_bottom .menu .menu-item:first-of-type {
    border-top: 1px solid #D8E0EB;
  }
  .header_bottom .menu .menu-item.active:after {
    display: none;
  }
  .header_bottom .menu .menu-item:hover:after {
    display: none;
  }
  .header_bottom .menu .menu-item a {
    font-size: 14px;
  }
  .header_bottom .menu .menu-item a svg {
    width: 25px;
    height: 25px;
    margin-right: 8px;
  }
  .header_bottom .menu .menu-item:hover {
    background: #2361A9;
  }
  .header_bottom .menu .menu-item:hover a {
    color: #FFFFFF;
  }
  .header_bottom .menu .menu-item:hover a svg path {
    fill: #fff;
  }
  .pers_account_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px 40px;
    width: 100%;
    background-color: #F5F6F7;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .pers_account_mobile p {
    font-weight: 600;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #2361A9;
  }
  .pers_account_mobile .transition_login_page {
    width: 30px;
    height: 30px;
  }
  .declaration_form {
    height: auto;
    width: 100%;
  }
  .declaration_form input {
    background: #FFFFFF;
    height: 44px;
    font-size: 14px;
    padding-left: 40px;
    background-image: url(../img/receipt.svg);
    background-repeat: no-repeat;
    background-size: 19px 18px;
    background-position: 12px center;
    position: static;
  }
  .declaration_form .flex_btn {
    position: static;
    margin-top: 20px;
  }
  .declaration_form .flex_btn .blue_button54 {
    height: 38px;
    padding: 12px 14px;
    font-size: 13px;
    margin-right: 7px;
  }
  .declaration_form .flex_btn .blue_button54:first-of-type {
    position: absolute;
    right: 3px;
    top: 3px;
    margin-right: 0;
  }
  .declaration_wrap {
    padding: 20px 0 24px;
  }
  .declaration_wrap .declaration_wrap_inner h3 {
    margin-bottom: 14px;
  }
  .declaration_form.processing .flex_btn {
    margin-top: 0;
  }
  .mobile-order-history .row-order-h .top {
    align-items: start;
  }
  .declaration_wrap_inner .transparent_btn {
    display: none;
  }
  .reports_update .declaration_form {
    width: 100%;
  }
  .reports_update .declaration_form .flex_btn {
    margin-top: 0;
  }
  .table-order-history.reports_update {
    display: block;
    padding-bottom: 20px;
    margin: 0;
  }
  .reports_update_padding {
    margin-bottom: 40px;
  }
  .reports_update_padding .blue_button45 {
    margin-top: 20px;
    width: 100%;
  }
  .footer_top_inner {
    flex-direction: column;
    align-items: start;
    padding: 20px 0 30px;
  }
  .footer_top_inner .first_block {
    order: 1;
    margin-bottom: 20px;
  }
  .footer_top_inner .need_help_row {
    order: 2;
    padding: 18px 25px;
    flex-direction: unset;
    width: 100%;
    margin-bottom: 30px;
  }
  .footer_top_inner .need_help_row img {
    margin-right: 15px;
  }
  .footer_top_inner .menu-footer {
    order: 3;
    padding-left: 0;
  }
  .first_block p {
    font-size: 10px;
  }
  .first_block p a {
    font-size: 10px;
  }
  .first_block a {
    font-size: 10px;
  }
  .footer_top {
    padding-top: 30px;
  }
  .footer_top .logo_north_america {
    width: 285px;
    height: 35px;
    display: block;
  }
  .footer_top .logo_north_america img {
    width: 100%;
  }
  .footer_bootom_inner {
    padding: 20px 0 23px;
    flex-direction: column;
  }
  .footer_bootom_inner span {
    font-size: 10px;
    display: block;
    margin-bottom: 14px;
  }
  .footer_bootom_inner .pr_pol {
    flex-flow: row;
    flex-wrap: wrap;
  }
  .footer_bootom_inner .pr_pol a {
    width: calc(50% - 14px);
    margin-right: 0;
    margin-bottom: 10px;
  }
  .footer_bootom_inner .pr_pol a:last-of-type {
    margin-bottom: 0;
  }
  .footer_bootom_inner .pr_pol a:nth-child(odd) {
    margin-right: 28px;
  }
  .your_account_section {
    padding: 20px 0 40px;
  }
  .flex_options_cards {
    flex-direction: column;
  }
  .options_card {
    width: calc(100% + 15px);
  }
  .options_card .info_del_opt {
    padding: 15px 15px 20px 15px;
    width: calc(100% - 55px);
  }
  .payment_method {
    padding: 12px 15px;
  }
  .payment_method .text-pay p {
    font-size: 14px;
  }
  .false-radio {
    top: 10px;
  }
  .payment_method-object {
    width: calc(50% - 10px);
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .parcel-content-table {
    display: none;
  }
  .mobile-parcel-content-table {
    display: block;
  }
  .item-parcel-cont-quant .bottom {
    display: flex;
    align-items: center;
  }
  .item-parcel-cont-quant .middle {
    padding: 15px;
  }
  .r_col {
    width: 20%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .l_col {
    width: 80%;
    padding: 15px;
    border-right: 1px solid #D8E0EB;
  }
  body .currency_col .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #2361A9;
    font-weight: 700;
  }
  .modile-delivery-price {
    display: block;
  }
  .popup_change_password {
    width: 345px;
    padding: 95px 27px 55px;
  }
  .popup_change_password .close_popup {
    top: -35px;
    right: 15px;
  }
  .popup_change_password .close_popup path {
    stroke: #fff;
  }
  .declaration_wrap.details_declaration {
    background: #fff;
  }
  .declaration_wrap.details_declaration h3 {
    display: none;
  }
  .declaration_wrap.details_declaration .action_btn_mobile {
    display: block;
    background: #2361A9;
    padding: 4px 15px;
    border-radius: 100px;
  }
  .declaration_wrap.details_declaration .action_btn_mobile h6 {
    display: none;
  }
  .declaration_wrap.details_declaration .action_btn_mobile .dots {
    margin-left: 0;
  }
  .declaration_wrap.details_declaration .action_btn {
    display: none;
  }
  .mobile_declr {
    display: block;
  }
  .save_close_wrap {
    padding-bottom: 0;
    padding-top: 0;
  }
  .save_close_row span {
    font-weight: 700;
    font-size: 12px;
    line-height: 109%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2361A9;
    margin-left: 10px;
  }
  .save_close_row .bcg_svg {
    background: transparent;
    width: 8px;
    height: 14px;
  }
  .save_close_row .bcg_svg svg path {
    fill: #2361A9;
  }
}
@media screen and (max-width: 550px) {
  .l_col {
    width: 75%;
  }
  .r_col {
    width: 25%;
  }
}
@media screen and (max-width: 450px) {
  .l_col {
    width: 65%;
  }
  .r_col {
    width: 35%;
  }
}
@media screen and (max-width: 410px) {
  .declaration_form .flex_btn .blue_button54 {
    font-size: 11px;
    margin-right: 4px;
  }
  .declaration_form .flex_btn .blue_button54:last-of-type {
    margin-right: 0;
  }
  .declaration_row .decl_img .flex_btn .blue_button45 {
    font-size: 11px;
    margin-right: 10px;
  }
  .dots-submenu {
    width: 290px;
  }
  .reports_update_padding .blue_button45 {
    font-size: 12px;
  }
}
@media screen and (max-width: 360px) {
  .history_wrap_heading h2 {
    font-size: 18px;
  }
  .history_wrap_heading .blue_button45 {
    height: 38px;
    font-size: 13px;
  }
  .declaration_form .flex_btn .blue_button54 {
    font-size: 10px;
    margin-right: 4px;
  }
  .declaration_wrap {
    padding: 20px 0 24px;
  }
  .declaration_wrap .declaration_wrap_inner h3 {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .options_card .info_del_opt .subtitle {
    font-size: 10px;
  }
  .options_card .info_del_opt .title_info {
    font-size: 12px;
  }
  .sub_price {
    font-size: 12px;
  }
  .popup_change_password {
    width: 315px;
    padding: 95px 27px 55px;
  }
  .popup_change_password .close_popup {
    top: -35px;
    right: 15px;
  }
  .popup_change_password .close_popup path {
    stroke: #fff;
  }
  .reports_update_padding .blue_button45 {
    font-size: 10px;
  }
}